<html>
    <head>
        <meta charset="utf-8">
        <title>Wall</title>
    </head>
    <body>

        <div class="w3-container w3-black">
        </div>
		<div align="right">
		    <a href="/wall/profile/">My Profile</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="/login/logout/">Logout</a><br> 
        </div><br>   <hr>
		<div align="right">
			<form action="/wall/search/" method="POST"> {% csrf_token %}
				<input type="text" placeholder="Search" name="search" height="50px" width="250px" align="center" action="search.html">
				<input type="submit" value="search">
			</form>
		 </div><br><hr>
		<div align="left">		
			<form action="/Ques_Ans/ask"> 
				<input type="submit" value="New Post" >
			</form>
		 <div><hr>
		{% block content %}
        {% endblock %}
        <div class ="w3-container w3-blue">   
      <!--    <h6>Software Project by CE-130,131,132.</h6> -->
            <p>
            </p>
        </div>
    </body>
</html>