{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Login Now</title>
        <link rel="stylesheet" href="{% static 'css/w3.css' %}">
    </head>
    <body>
        <div class="w3-container w3-black">
            <h2></h2>
        </div>
        {% block content %}
        {% endblock %}
        <div class ="w3-container w3-blue">
      <!--    <h6>Software Project by CE-130,131,132.</h6> -->
            <p>
       <!--     <a href="/login/logout/">Logout</a><br> -->
            </p>
        </div>
    </body>
</html>

